<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Attendify - 67-442 iOS Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{S3Static}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- <link href="{{S3Static}}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{{S3Static}}/vendor/simple-line-icons/css/simple-line-icons.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/device-mockups/device-mockups.css">

    <!-- Custom styles for this template -->
    <link href="../static/css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">
		  <img src="../static/img/attendify-logo-2.png" width="10%" height="10%" alt="">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/students/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/models/latest">Latest Model</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#process">How it works</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Using Apple's Core ML framework, and Turicreate's  ML library, Attendify seeks to make class attendance a seamless iOS experience.</h1>
              <a href="/students/register" class="btn btn-outline btn-xl">Click here to register!</a>
            </div>
          </div>

          <div class="col-md-1 my-auto">
            <div class="device-container">
              <img style="margin-top:20%" src="../static/device-mockups/attendify-homescreen.png" width="1000%" >
            </div>
          </div>
        </div>

      </div>
    </header>

    <section class="download bg-primary text-center" id="about">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Arnav Gupta |  George Yao</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <br>
            <p> This is our final projct for 67-442 iOS Mobile Application Development in iOS for
                Fall 2018 Semester. This iOS appliation seeks to streamline the process for taking
                attendance through facial recognition. It utilizes both Apple's Core ML framework,
                and Python's Turicreate library to create & train an image classifer, which can be
                used to compare images taken from a real-time recording from the iPhone's camera.
                Ontop of just being able to recognize faces, individuals whose attendance are taken
                are then committed to a Postgres database, which can be accessed through our Swagger
                Ruby on Rails API; This allows for future platforms, such as cmuis,
                to easily obtain attendance records for any class. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="process">
      <div class="container">
        <div class="section-heading text-center">
          <h2>So how does it all work?</h2>
          <p class="text-muted">A visual representation of what's happening behind the scenes</p>
          <hr>
        </div>
        <div class="row">
          <img src="../static/img/attendify-process.png" width="58%" height="58%", class="mx-auto d-block">
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; Attendify 2018. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/new-age.min.js"></script>

  </body>

</html>
