<!DOCTYPE html>
<html lang="en">

    <head>
      <title>iOS Project Face Recognition</title>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Attendify Model - Latest Info</title>

      <!-- Bootstrap core CSS -->
      <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom fonts for this template -->
      <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

      <!-- Plugin CSS -->
      <link rel="stylesheet" href="../static/device-mockups/device-mockups.min.css">

      <!-- Custom styles for this template -->
      <link href="../static/css/new-age.min.css" rel="stylesheet">

    </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">
		  <img src="../static/img/attendify-logo-2.png" width="10%" height="10%" alt="">
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/students/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/models/latest">Latest Model</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#process">How it works</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <body>
                <div class="section-heading text-center">
                  <h2> Latest model information: </h2>
                  </div>
                  <p> The latest model is: <b>{{ filename }}</b>, recorded/trained
                      at <b>{{ timestamp }}</b>! If a model does exist, you can download the .mlmodel at
                      <b><a href="http://attendify.us-east-1.elasticbeanstalk.com/models/download">here</a></b>.</p>
              </body>
            </div>
          </div>
        </div>
      </div>
    </header>


</html>
